body {
    font-family: 'Karla', sans-serif;
}

button {
    background-color: #035aa6;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.wrapper {
    max-width: 500px;
}

div {
    border-radius: 5px;
}

.small {
    font-size: 1.5rem;
    border: 1px solid lightgrey;
    padding: 5px;
    width: 340px;
    margin-top: 3vh;
    border-radius: 5px;
    color: green;
}


.middle {
    font-size: 3rem;
    border: 10px solid lightgrey;
    padding: 5px;
    width: 500px;
    margin-top: 3vh;
    border-radius: 5px;
    color: green;
}


.big {
    color: green;
    font-size: 4.5rem;
    border: 40px solid lightgreen;
    padding: 5px;
    width: 900px;
    margin-top: 3vh;
    border-radius: 5px;
    transition-property: width;
    transition-duration: 0.5s;
    text-shadow: 5px 5px lightgreen;
}